<%
   other_projects = 0
   visible_projects = 0
   issue_projects = [@issue.project] | @issue.projects
   allowed_projects = @issue.allowed_target_projects & @issue.project.descendants #@issue.assignable_users_subprojects
%>
<!-- Sección del listado de alumnos/subproyectos de la asignatura -->
<span id="my_projects_per_issue">
  <span id="list_of_projects_per_issue">
    <% issue_projects.each do |project| %>
      <% if allowed_projects.include?(project) %>
        <%= content_tag("span", project.name.gsub(/ /,"&nbsp;").html_safe, class: "list_projects_names") %>
        <% visible_projects += 1 %>
      <% else %>
        <% other_projects += 1 %>
      <% end %>
    <% end %>
  </span>
</span>