var involved_project_ids = $('#issue_project_id').val();
if(involved_project_ids==null) {
  involved_project_ids='';
}
replaceIssueFormWith('<%= escape_javascript(render :partial => 'form') %>');

$('#issue_project_id').val(involved_project_ids);

var htmlContent = "";
$.each(involved_project_ids, function(key, name) {
  htmlContent += " <span class=\"list_users_names\">"+ $('#issue_project_id option[value='+name+']').html().replace(/&nbsp;/g, '') + "</span>" + "<br />";
});
$("#members_form #list_of_projects_per_issue").html(htmlContent);
